In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avera,US,2022-04-06 16:22:06,33.1940,-82.5271,72.91,91,100,10.27
1,1,Cape Town,ZA,2022-04-06 16:20:27,-33.9258,18.4232,63.27,60,40,11.50
2,2,Kapaa,US,2022-04-06 16:22:08,22.0752,-159.3190,67.98,97,20,5.75
3,3,Butaritari,KI,2022-04-06 16:22:08,3.0707,172.7902,81.54,73,100,20.56
4,4,Monroe,US,2022-04-06 16:17:49,43.1501,-77.6831,60.42,66,75,9.22

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [18]:
# Heatmap of temperature 
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.55)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the maximum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [23]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Butaritari,KI,2022-04-06 16:22:08,3.0707,172.7902,81.54,73,100,20.56
13,13,Avarua,CK,2022-04-06 16:22:11,-21.2078,-159.7750,75.25,94,96,2.30
18,18,Bandarbeyla,SO,2022-04-06 16:22:13,9.4942,50.8122,80.06,71,10,8.97
27,27,Nokha,IN,2022-04-06 16:22:16,27.6000,73.4167,87.35,6,0,8.03
31,31,Bengkulu,ID,2022-04-06 16:22:17,-3.8004,102.2655,76.84,88,98,3.60
35,35,Georgetown,MY,2022-04-06 16:19:07,5.4112,100.3354,80.53,93,20,2.30
37,37,Amahai,ID,2022-04-06 16:22:19,-3.3333,128.9167,78.78,82,100,1.43
38,38,Balabac,PH,2022-04-06 16:22:19,7.9868,117.0645,78.73,81,100,2.84
39,39,Zemio,CF,2022-04-06 16:22:20,5.0314,25.1361,78.39,73,98,5.64
40,40,Saint-Philippe,RE,2022-04-06 16:22:20,-21.3585,55.7679,78.39,82,100,12.10

In [26]:
preferred_cities_df.count()

City_ID       174
City          174
Country       171
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3       Butaritari      KI     81.54   3.0707  172.7902
13          Avarua      CK     75.25 -21.2078 -159.7750
18     Bandarbeyla      SO     80.06   9.4942   50.8122
27           Nokha      IN     87.35  27.6000   73.4167
31        Bengkulu      ID     76.84  -3.8004  102.2655
35      Georgetown      MY     80.53   5.4112  100.3354
37          Amahai      ID     78.78  -3.3333  128.9167
38         Balabac      PH     78.73   7.9868  117.0645
39           Zemio      CF     78.39   5.0314   25.1361
40  Saint-Philippe      RE     78.39 -21.3585   55.7679

In [29]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make a request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Butaritari,KI,81.54,3.0707,172.7902,Isles Sunset Lodge
13,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
18,Bandarbeyla,SO,80.06,9.4942,50.8122,JABIR HOTEL
27,Nokha,IN,87.35,27.6000,73.4167,Gurukarpa Hotel
31,Bengkulu,ID,76.84,-3.8004,102.2655,Grage Hotel Bengkulu
35,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
37,Amahai,ID,78.78,-3.3333,128.9167,HOTEL ISABELA
38,Balabac,PH,78.73,7.9868,117.0645,Batalla’s Lodging House
39,Zemio,CF,78.39,5.0314,25.1361,OCHA Office
40,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))